@import 'src/assets/styles/vars.module.scss';

.slot {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px 16px;
  border-bottom: 1px solid $globalcolors-neutral-50;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  position: relative;
}