@import '/src/assets/styles/vars.module';

.sidebar {
  width: 248px;
  height: 100%;
  background: $globalcolors-neutral-20;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-234px);

  &-active {
    transform: translateX(0);
  }
}