$globalcolors-neutral-20: #f9f9f9;
$globalcolors-neutral-30: #f2f2f2;

$globalcolors-neutral-50: #e4e4e4;
$globalcolors-neutral-70: #afafaf;
$globalcolors-neutral-80: #727272;
$globalcolors-neutral-100: #000;
